body{
    background-color: white;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

form{
    padding: 20px;
    height: 200pxx;
    background-color: blue;
}